In [1]:
# import all libraries and dependencies for dataframe
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime, timedelta

# import all libraries and dependencies for data visualization
pd.options.display.float_format='{:.4f}'.format
plt.rcParams['figure.figsize'] = [8,8]
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', -1) 
sns.set(style='darkgrid')
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker

# import all libraries and dependencies for machine learning
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.base import TransformerMixin
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.base import TransformerMixin

In [2]:
path = 'E://python code//pro kabaddi2019//'
file = path + '2019_Pro_Kabaddi.xlsx'
df_m=pd.read_excel(file)

In [3]:
df_m.head(100)

,Week,Team_1,Team_2,Team 1_Score,Team 2_Score,Winner,MarginScore
0,Week 1,Telugu Titans,U Mumba,25,31,U Mumba,-6
1,Week 1,Bengaluru Bulls,Patna Pirates,34,32,Bengaluru Bulls,2
2,Week 1,Bengaluru Bulls,Fortune Giants,24,42,Fortune Giants,-18
3,Week 1,Telugu Titans,Tamil Thalaivas,26,39,Tamil Thalaivas,-13
4,Week 1,U Mumba,Pink Panthers,23,42,Pink Panthers,-19
...,...,...,...,...,...,...,...
95,Week 9,Bengal Warriors,Haryana Steelers,48,36,Bengal Warriors,12
96,Week 9,Telugu Titans,Patna Pirates,42,42,Patna Pirates,0
97,Week 9,Puneri Paltan,Bengaluru Bulls,42,38,Puneri Paltan,4
98,Week 10,Pink Panthers,Fortune Giants,28,28,Fortune Giants,0
99,Week 10,UP Yoddha,Tamil Thalaivas,42,22,UP Yoddha,20

In [4]:
df_m.isnull().sum()

Week            0
Team_1          0
Team_2          0
Team 1_Score    0
Team 2_Score    0
Winner          0
MarginScore     0
dtype: int64

In [5]:
df_m=df_m.drop(['Week','Team 1_Score','Team 2_Score','MarginScore'],axis=1)
df_m.head()

            Team_1           Team_2           Winner
0  Telugu Titans    U Mumba          U Mumba
1  Bengaluru Bulls  Patna Pirates    Bengaluru Bulls
2  Bengaluru Bulls  Fortune Giants   Fortune Giants
3  Telugu Titans    Tamil Thalaivas  Tamil Thalaivas
4  U Mumba          Pink Panthers    Pink Panthers

In [6]:
df_m = df_m.reset_index(drop=True)
df_m.loc[df_m.Winner == df_m.Team_1,'winning_team1']=1
df_m.loc[df_m.Winner == df_m.Team_2, 'winning_team2']=2
df_m = df_m.drop(['winning_team1'], axis=1)
df_m = df_m.drop(['winning_team2'], axis=1)
df_m.head()

            Team_1           Team_2           Winner
0  Telugu Titans    U Mumba          U Mumba
1  Bengaluru Bulls  Patna Pirates    Bengaluru Bulls
2  Bengaluru Bulls  Fortune Giants   Fortune Giants
3  Telugu Titans    Tamil Thalaivas  Tamil Thalaivas
4  U Mumba          Pink Panthers    Pink Panthers

Splitting the Data into Training and Testing Sets

In [7]:
final=pd.get_dummies(df_m,prefix=['Team_1','Team_2'],
                     columns=['Team_1','Team_2'])

X=final.drop(['Winner'],axis=1)
y=final['Winner']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=100)

In [8]:
logreg=LogisticRegression()
logreg.fit(X_train,y_train)
Y_Pred=logreg.predict(X_test)

score=logreg.score(X_train,y_train)
score2=logreg.score(X_test,y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.875
Test set accuracy:  0.743

In [9]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
Y_pred = decision_tree.predict(X_test)


score = decision_tree.score(X_train, y_train)
score2 = decision_tree.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.912
Test set accuracy:  0.600

In [10]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=100)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)


print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.912
Test set accuracy:  0.686

In [11]:
path = 'E://python code//pro kabaddi2019//'
file = path + '2019_Pro_Kabaddi.xlsx'
ranking = pd.read_excel(file,'Points Table_2019')

fixtures=pd.read_csv(r'E:\python code\pro kabaddi2019\2019_Pro_Kabaddi.csv')

pred_set=[]
fixtures.head(125)
ranking.head(12)

                Team  Played  WINS  LOSSES  DRAWS  Score Diff  Points
0   Dabang Delhi      20      15    3       2      92          82
1   Bengal Warriors   20      13    4       3      86          78
2   Haryana Steelers  19      12    6       1      24          65
3   U Mumba           19      10    8       1      33          59
4   Bengaluru Bulls   19      10    8       1      12          58
5   UP Yoddha         18      10    6       2     -19          58
6   Pink Panthers     20      8     10      2     -18          52
7   Puneri Paltan     20      6     11      3     -71          42
8   Patna Pirates     19      6     12      1     -1           40
9   Fortune Giants    20      6     12      2      14          45
10  Telugu Titans     18      5     10      3     -39          39
11  Tamil Thalaivas   20      3     14      3     -113         30

In [12]:
# Create new columns with wins of each team
fixtures.insert(1, 'First_Position', fixtures['Team_1'].map(ranking.set_index('Team')['WINS']))
fixtures.insert(2, 'Second_Position', fixtures['Team_2'].map(ranking.set_index('Team')['WINS']))

In [13]:
fixtures = fixtures.iloc[:131, :]
fixtures.head(10)

,Week,First_Position,Second_Position,Team_1,Team_2,Team 1_Score,Team 2_Score,Winner,MarginScore
0,Week 1,5,10,Telugu Titans,U Mumba,25,31,U Mumba,-6
1,Week 1,10,6,Bengaluru Bulls,Patna Pirates,34,32,Bengaluru Bulls,2
2,Week 1,10,6,Bengaluru Bulls,Fortune Giants,24,42,Fortune Giants,-18
3,Week 1,5,3,Telugu Titans,Tamil Thalaivas,26,39,Tamil Thalaivas,-13
4,Week 1,10,8,U Mumba,Pink Panthers,23,42,Pink Panthers,-19
5,Week 1,6,12,Puneri Paltan,Haryana Steelers,24,34,Haryana Steelers,-10
6,Week 1,10,13,UP Yoddha,Bengal Warriors,17,48,Bengal Warriors,-31
7,Week 1,5,15,Telugu Titans,Dabang Delhi,30,29,Telugu Titans,1
8,Week 1,10,6,UP Yoddha,Fortune Giants,19,44,Fortune Giants,-25
9,Week 1,5,6,Telugu Titans,Patna Pirates,22,34,Patna Pirates,-12

In [14]:
for index,row in fixtures.iterrows():
    if row['First_Position']> row['Second_Position']:
        pred_set.append({'Team_1': row['Team_1'],'Team_2':row['Team_2'],'Winning_team':None})
    else:
        pred_set.append({'Team_1':row['Team_2'],'Team_2':row['Team_1'],'Winning_team':None})
        
pred_set=pd.DataFrame(pred_set)
backup_pred_set=pred_set

In [17]:
pred_set=pd.get_dummies(pred_set,prefix=['Team_1','Team_2'],
                        columns=['Team_1','Team_2'])

missing_colos=set(final.columns)-set(pred_set.columns)

for c in missing_colos:
    pred_set[c]=0
pred_set=pred_set[final.columns]


pred_set=pred_set.drop(['Winner'],axis=1)
pred_set.head()

,Team_1_Bengal Warriors,Team_1_Bengaluru Bulls,Team_1_Dabang Delhi,Team_1_Fortune Giants,Team_1_Haryana Steelers,Team_1_Patna Pirates,Team_1_Pink Panthers,Team_1_Puneri Paltan,Team_1_Tamil Thalaivas,Team_1_Telugu Titans,Team_1_U Mumba,Team_1_UP Yoddha,Team_2_Bengal Warriors,Team_2_Bengaluru Bulls,Team_2_Dabang Delhi,Team_2_Fortune Giants,Team_2_Haryana Steelers,Team_2_Patna Pirates,Team_2_Pink Panthers,Team_2_Puneri Paltan,Team_2_Tamil Thalaivas,Team_2_Telugu Titans,Team_2_U Mumba,Team_2_UP Yoddha
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0

In [18]:
predictions=rf.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i,1]+"and"+backup_pred_set.iloc[i,0])
    
    if predictions[i]==1:
        print("Winner:"+backup_pred_set.iloc[i,1])
    else:
        print("Winner:"+backup_pred_set.iloc[i,0])
    print(" ")

Telugu TitansandU Mumba
Winner:U Mumba

Patna PiratesandBengaluru Bulls
Winner:Bengaluru Bulls

Fortune GiantsandBengaluru Bulls
Winner:Bengaluru Bulls

Tamil ThalaivasandTelugu Titans
Winner:Telugu Titans

Pink PanthersandU Mumba
Winner:U Mumba

Puneri PaltanandHaryana Steelers
Winner:Haryana Steelers

UP YoddhaandBengal Warriors
Winner:Bengal Warriors

Telugu TitansandDabang Delhi
Winner:Dabang Delhi

Fortune GiantsandUP Yoddha
Winner:UP Yoddha

Telugu TitansandPatna Pirates
Winner:Patna Pirates

Puneri PaltanandU Mumba
Winner:U Mumba

Pink PanthersandBengal Warriors
Winner:Bengal Warriors

Haryana SteelersandDabang Delhi
Winner:Dabang Delhi

U MumbaandBengaluru Bulls
Winner:Bengaluru Bulls

Tamil ThalaivasandPatna Pirates
Winner:Patna Pirates

Puneri PaltanandBengal Warriors
Winner:Bengal Warriors

Pink PanthersandHaryana Steelers
Winner:Haryana Steelers

U MumbaandUP Yoddha
Winner:UP Yoddha

Fortune GiantsandDabang Delhi
Winner:Dabang Delhi

Telugu TitansandUP Yoddha
Winner:UP Yoddha

Fortune GiantsandU Mumba
Winner:U Mumba

Patna PiratesandPink Panthers
Winner:Pink Panthers

Bengaluru BullsandBengal Warriors
Winner:Bengal Warriors

Tamil ThalaivasandHaryana Steelers
Winner:Haryana Steelers

Patna PiratesandPuneri Paltan
Winner:Puneri Paltan

Pink PanthersandDabang Delhi
Winner:Dabang Delhi

Fortune GiantsandPuneri Paltan
Winner:Puneri Paltan

Tamil ThalaivasandUP Yoddha
Winner:UP Yoddha

Patna PiratesandHaryana Steelers
Winner:Haryana Steelers

Telugu TitansandBengaluru Bulls
Winner:Bengaluru Bulls

U MumbaandBengal Warriors
Winner:Bengal Warriors

Patna PiratesandUP Yoddha
Winner:UP Yoddha

Tamil ThalaivasandFortune Giants
Winner:Fortune Giants

Puneri PaltanandDabang Delhi
Winner:Dabang Delhi

Bengaluru BullsandHaryana Steelers
Winner:Haryana Steelers

Telugu TitansandFortune Giants
Winner:Fortune Giants

Telugu TitansandBengal Warriors
Winner:Bengal Warriors

UP YoddhaandBengaluru Bulls
Winner:Bengaluru Bulls

UP YoddhaandHaryana Steelers
Winner:Haryana Steelers

Fortune GiantsandBengal Warriors
Winner:Bengal Warriors

Puneri PaltanandPink Panthers
Winner:Pink Panthers

Patna PiratesandU Mumba
Winner:U Mumba

Fortune GiantsandPink Panthers
Winner:Pink Panthers

Tamil ThalaivasandBengaluru Bulls
Winner:Bengaluru Bulls

Bengal WarriorsandDabang Delhi
Winner:Dabang Delhi

Telugu TitansandHaryana Steelers
Winner:Haryana Steelers

Tamil ThalaivasandPuneri Paltan
Winner:Puneri Paltan

U MumbaandHaryana Steelers
Winner:Haryana Steelers

Pink PanthersandUP Yoddha
Winner:UP Yoddha

Puneri PaltanandBengaluru Bulls
Winner:Bengaluru Bulls

Tamil ThalaivasandPink Panthers
Winner:Pink Panthers

Patna PiratesandBengal Warriors
Winner:Bengal Warriors

Fortune GiantsandPatna Pirates
Winner:Patna Pirates

Tamil ThalaivasandU Mumba
Winner:U Mumba

Bengaluru BullsandDabang Delhi
Winner:Dabang Delhi

Telugu TitansandPink Panthers
Winner:Pink Panthers

Pink PanthersandBengaluru Bulls
Winner:Bengaluru Bulls

UP YoddhaandDabang Delhi
Winner:Dabang Delhi

Haryana SteelersandBengal Warriors
Winner:Bengal Warriors

Puneri PaltanandUP Yoddha
Winner:UP Yoddha

Fortune GiantsandHaryana Steelers
Winner:Haryana Steelers

U MumbaandDabang Delhi
Winner:Dabang Delhi

Tamil ThalaivasandBengal Warriors
Winner:Bengal Warriors

Telugu TitansandPuneri Paltan
Winner:Puneri Paltan

Patna PiratesandDabang Delhi
Winner:Dabang Delhi

Fortune GiantsandBengaluru Bulls
Winner:Bengaluru Bulls

Pink PanthersandU Mumba
Winner:U Mumba

UP YoddhaandBengal Warriors
Winner:Bengal Warriors

Tamil ThalaivasandBengaluru Bulls
Winner:Bengaluru Bulls

Puneri PaltanandHaryana Steelers
Winner:Haryana Steelers

Tamil ThalaivasandTelugu Titans
Winner:Telugu Titans

Pink PanthersandDabang Delhi
Winner:Dabang Delhi

Patna PiratesandBengaluru Bulls
Winner:Bengaluru Bulls

Puneri PaltanandU Mumba
Winner:U Mumba

Patna PiratesandUP Yoddha
Winner:UP Yoddha

Telugu TitansandBengaluru Bulls
Winner:Bengaluru Bulls

Fortune GiantsandBengal Warriors
Winner:Bengal Warriors

Haryana SteelersandDabang Delhi
Winner:Dabang Delhi

Tamil ThalaivasandDabang Delhi
Winner:Dabang Delhi

Puneri PaltanandBengal Warriors
Winner:Bengal Warriors

Fortune GiantsandUP Yoddha
Winner:UP Yoddha

Tamil ThalaivasandPatna Pirates
Winner:Patna Pirates

Telugu TitansandU Mumba
Winner:U Mumba

Pink PanthersandHaryana Steelers
Winner:Haryana Steelers

U MumbaandBengal Warriors
Winner:Bengal Warriors

Patna PiratesandPink Panthers
Winner:Pink Panthers

Bengaluru BullsandBengal Warriors
Winner:Bengal Warriors

Puneri PaltanandFortune Giants
Winner:Fortune Giants

Tamil ThalaivasandHaryana Steelers
Winner:Haryana Steelers

Fortune GiantsandDabang Delhi
Winner:Dabang Delhi

Puneri PaltanandPatna Pirates
Winner:Patna Pirates

Pink PanthersandUP Yoddha
Winner:UP Yoddha

Telugu TitansandDabang Delhi
Winner:Dabang Delhi

U MumbaandUP Yoddha
Winner:UP Yoddha

Tamil ThalaivasandPuneri Paltan
Winner:Puneri Paltan

Haryana SteelersandBengal Warriors
Winner:Bengal Warriors

Telugu TitansandPatna Pirates
Winner:Patna Pirates

Puneri PaltanandBengaluru Bulls
Winner:Bengaluru Bulls

Fortune GiantsandPink Panthers
Winner:Pink Panthers

Tamil ThalaivasandUP Yoddha
Winner:UP Yoddha

Fortune GiantsandU Mumba
Winner:U Mumba

Pink PanthersandBengal Warriors
Winner:Bengal Warriors

Patna PiratesandHaryana Steelers
Winner:Haryana Steelers

Bengaluru BullsandDabang Delhi
Winner:Dabang Delhi

Telugu TitansandBengal Warriors
Winner:Bengal Warriors

Puneri PaltanandPink Panthers
Winner:Pink Panthers

Patna PiratesandDabang Delhi
Winner:Dabang Delhi

U MumbaandBengaluru Bulls
Winner:Bengaluru Bulls

Telugu TitansandPink Panthers
Winner:Pink Panthers

UP YoddhaandHaryana Steelers
Winner:Haryana Steelers

Tamil ThalaivasandFortune Giants
Winner:Fortune Giants

Puneri PaltanandDabang Delhi
Winner:Dabang Delhi

Fortune GiantsandHaryana Steelers
Winner:Haryana Steelers

Bengal WarriorsandDabang Delhi
Winner:Dabang Delhi

Tamil ThalaivasandU Mumba
Winner:U Mumba

In [35]:
def clean_and_predict(matches, ranking, final, rf):

   
    positions = []

    # Loop to retrieve each team's position according to Wins
    for match in matches:
        positions.append(ranking.loc[ranking['Team'] == match[0],'WINS'].iloc[0])
        positions.append(ranking.loc[ranking['Team'] == match[1],'WINS'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

   
    i = 0
    j = 0

    while i < len(positions):
        dict1 = {}

        # If wins of first team is better then this team will be the 'Team_1' team, and vice-versa
        if positions[i] > positions[i + 1]:
            dict1.update({'Team_1': matches[j][0], 'Team_2': matches[j][1]})
        else:
            dict1.update({'Team_1': matches[j][1], 'Team_2': matches[j][0]})
        
        pred_set.append(dict1)
        i += 2
        j += 1
        
        # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

    
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Winner'], axis=1)

    # Predict
    predictions = rf.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 1:
            print("Winner: " + backup_pred_set.iloc[i, 1])
        else:
            print("Winner: " + backup_pred_set.iloc[i, 0])
        print("")

In [39]:
elim1 = [('Haryana Steelers', 'Bengaluru Bulls')]
elim2 = [('U Mumba', 'UP Yoddha')]

In [40]:
clean_and_predict(elim1, ranking, final, rf)

Bengaluru Bulls and Haryana Steelers
Winner: Haryana Steelers

In [41]:
clean_and_predict(elim2, ranking, final, rf)

U Mumba and UP Yoddha
Winner: UP Yoddha

In [42]:
semi1 = [('Haryana Steelers', 'Dabang Delhi')]
semi2 = [('UP Yoddha', 'Bengal Warriors')]

In [43]:
clean_and_predict(semi1,ranking,final,rf)

Haryana Steelers and Dabang Delhi
Winner: Dabang Delhi

In [44]:
clean_and_predict(semi2,ranking,final,rf)

UP Yoddha and Bengal Warriors
Winner: Bengal Warriors

In [45]:
finale=[('Dabang Delhi','Bengal Warriors')]

In [46]:
clean_and_predict(finale,ranking,final,rf)

Bengal Warriors and Dabang Delhi
Winner: Dabang Delhi